{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load django_bootstrap5 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block head %}
    <meta name="description" content="">
    <meta name="keywords" content="About Us, Our Team, Contact Us">
    <title>About Us</title>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col p-5 col-4">
                <p class="text-justify">
                <strong>{% trans "The Arctic Vegetation Archive (AVA)" %}</strong>
                {% trans "is an international effort to assemble circumpolar Arctic vegetation plot data into a publically accessible web-based archive." %}&nbsp;&nbsp;<br>
                {% trans "The goal of AVA is to unite and standardize vegetation data from the Arctic that will give researchers a unique opportunity to analyze vegetation at pan-arctic scale. The initiative is endorsed by" %}
                <a href="https://www.caff.is/flora-cfg/arctic-vegetation-archive-ava" target="_blank">{% trans "the Conservation of Arctic Flora and Fauna of the Arctic Council" %}</a>
                {% trans "and" %}
                <a href="https://iasc.info/working-groups/terrestrial/activities" target="_blank">{% trans "the International Arctic Science Committee"%}</a>.

                <a href="https://www.geobotany.uaf.edu/ava" class="u-active-none u-border-6 u-border-black u-btn u-btn-rectangle u-button-style u-hover-none u-none u-btn-1" target="_blank">{% trans "read more" %}</a>
            </div>
            <div class="col p-5 col-lg-4">
                <p class="text-justify">
                {% trans "At present, AVA consists of about 30’000 data plots, mostly from Alaska, Canada and Scandinavia, stored in Arctic regional databases. The Russian AVA section is under rapid development. In cooperation with data authors we are working on archiving and harmonizing information on the vegetation composition of the Russian Arctic. Our website presents the Russian AVA data and provides an overview of available data for downloading. Access to the AVA data is diverse: previously published data could be" %}
                {% trans "downloaded directly and unpublished data – after a confirmation given by the dataset author (user agreement signing is needed)" %}&nbsp;&nbsp;<br>
                <br>{% trans "A.N. Severtsov Institute of Ecology and Evolution RAS leads the effort. HSE Tikhonov Moscow Institute of Electronics and Mathematics provides technical assistance for the website. Project is supported by RFBR 18-04-01010 А." %}
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-8">
                <img src="{% static 'img/about/map.png' %}" class="card-img-top" alt="Map">
            </div>
        </div>
        <div class="row p-5 justify-content-center bg-secondary-subtle">
            <div class="col-12 p-3">
                <h5 class="text-center">TEAM</h5>
            </div>
            <div class="col-2">
                <div class="card m-2">
                    <img src="{% static 'img/about/ermokhina.jpg' %}" class="card-img-top" alt="Ksenia Ermokhina">
                    <div class="card-body">
                        <h5 class="card-title">{% trans "Ksenia Ermokhina" %}</h5>
                        <p class="card-text">{% trans "A.N. Severtsov Institute of Ecology and Evolution RAS, Moscow" %}</p>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card m-2">
                    <img src="{% static 'img/about/kurysheva.jpg' %}" class="card-img-top" alt="Maria Kurysheva">
                    <div class="card-body">
                        <h5 class="card-title">{% trans "Maria Kurysheva" %}</h5>
                        <p class="card-text">{% trans "HSE Tikhonov Moscow Institute of Electronics and Mathematics, Moscow" %}</p>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card m-2">
                    <img src="{% static 'img/about/zemlianskii.jpg' %}" class="card-img-top" alt="Vitalii Zemlianskii">
                    <div class="card-body">
                        <h5 class="card-title">{% trans "Vitalii Zemlianskii" %}</h5>
                        <p class="card-text">{% trans "University of Zurich, Department of Evolutionary Biology and Environmental Studies, Zurich" %}</p>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card m-2">
                    <img src="{% static 'img/about/korolev.jpg' %}" class="card-img-top" alt="Denis Korolev">
                    <div class="card-body">
                        <h5 class="card-title">{% trans "Denis Korolev" %}</h5>
                        <p class="card-text">{% trans "HSE Tikhonov Moscow Institute of Electronics and Mathematics, Moscow" %}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4">
                <h2 class="u-text u-text-1">{% trans "Contact Us" %}</h2>
                <p class="u-text u-text-3">{% trans "Great vision without great people is irrelevant.<br>Let's work together."%}</p>
            </div>
            <div class="col-4 justify-content-center">
                <form>
                    {% csrf_token %}
                    <div class="mb-3">
                        <input type="text" class="form-control" id="feedback-input-name" placeholder="Name" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <input type="email" class="form-control" id="feedback-input-email" placeholder="Email" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Message" rows="3"></textarea>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary mb-3">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
