{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load django_bootstrap5 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block head %}
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<title>AVA | Log In</title>
{% endblock head %}

{% block content %}
<div class="p-3 outer-container">
    <div class="card">
        <h3 class="card-header">
			Password reset sent
        </h3>
        <div class="card-body">
			We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
			If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.
		</div>
	</div>
</div>
{% endblock content %}
