{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load django_bootstrap5 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block head %}
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<title>AVA | Reset passwor</title>
{% endblock head %}

{% block content %}
<div class="p-3 outer-container">
    <div class="card p-5">
		<form method="post">
			{% csrf_token %}
			{% bootstrap_form form %}
			<button type="submit" class="btn btn-success">Reset password</button>
		  </form>
	</div>
</div>
{% endblock content %}
