{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load django_bootstrap5 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block head %}
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<title>AVA | Sign Up</title>
{% endblock head %}

{% block content %}
<div class="p-3 outer-container w-25">
    <div class="card p-5">
		<form method="post">
			{% csrf_token %}
			{% bootstrap_form form %}
			<div class="d-flex justify-content-center">
				<button type="submit" class="btn btn-success">{% translate "Sign Up" %}</button>
			</div>
			<div class="d-flex justify-content-center">
				{% translate "Already have an account?" %} &nbsp;<a href="{% url 'login' %}">{% translate "Log In" %}</a>
			</div>
		</form>
	</div>
</div>
{% endblock content %}
