{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load django_bootstrap5 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block head %}
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<title>AVA | Feedback has been sent</title>
{% endblock head %}

{% block content %}
<div class="p-3 outer-container">
    <div class="card">
        <div class="card-body">
            {% translate "Thank you for your feedback." %}
        </div>
    </div>
</div>
{% endblock content %}
