{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block header %}
<title>{% translate "Statistics" %}</title>
{% endblock %}


{% block content %}
<div class="p-3 outer-container">
	<div class="d-flex align-items-start">
		<div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
			<button class="nav-link active" id="v-pills-analysis-tab" data-bs-toggle="pill" data-bs-target="#v-pills-analysis" type="button" role="tab" aria-controls="v-pills-analysis" aria-selected="false">{% translate "Analytics" %}</button>
			<button class="nav-link" id="v-pills-available-datasets-tab" data-bs-toggle="pill" data-bs-target="#v-pills-available-datasets" type="button" role="tab" aria-controls="v-pills-available-datasets" aria-selected="false">{% translate "Statistics" %}</button>
			<button class="nav-link" id="v-pills-requested-datasets-tab" data-bs-toggle="pill" data-bs-target="#v-pills-requested-datasets" type="button" role="tab" aria-controls="v-pills-requested-datasets" aria-selected="false">{% translate "Species analysis" %}</button>
		</div>
		<div class="tab-content" id="v-pills-tabContent">
			<div class="tab-pane fade show active" id="v-pills-analysis" role="tabpanel" aria-labelledby="v-pills-analysis-tab" tabindex="0">
				<div class="card mx-5 my-3">
					<div class="card-body">
					  <h5 class="card-title">{% translate "Correlation analysis" %}</h5>
					  <p class="card-text">Perform correlation analysis. Have to pick two numeric columns in spp file</p>
					  <a href="{% url 'correlation-analysis' %}" class="btn btn-primary">{% translate "Continue" %}</a>
					</div>
				</div>
				<div class="card mx-5 my-3">
					<div class="card-body">
					  <h5 class="card-title">{% translate "Principal component analysis" %}</h5>
					  <p class="card-text">Perform PCA.</p>
					  <a href="{% url 'pca-analysis' %}" class="btn btn-primary">{% translate "Continue" %}</a>
					</div>
				</div>
				<div class="card mx-5 my-3">
					<div class="card-body">
					  <h5 class="card-title">{% translate "Factor analysis" %}</h5>
					  <p class="card-text">Perform factor analysis.</p>
					  <a href="{% url 'factor-analysis' %}" class="btn btn-primary">{% translate "Continue" %}</a>
					</div>
				</div>
				<div class="card mx-5 my-3">
					<div class="card-body">
					  <h5 class="card-title">{% translate "Cluster analysis" %}</h5>
					  <p class="card-text">Create dendrogram based on Jaccard correlation.</p>
					  <a href="{% url 'cluster-analysis' %}" class="btn btn-primary">{% translate "Continue" %}</a>
					</div>
				</div>
			</div>
			<div class="tab-pane fade" id="v-pills-available-datasets" role="tabpanel" aria-labelledby="v-pills-available-datasets-tab" tabindex="0">
				<div class="card mx-5 my-3">
					<div class="card-body">
					  <h5 class="card-title">{% translate "Filter spp" %}</h5>
					  <p class="card-text">Spp-file with only selected species.</p>
					  <a href="{% url 'filter-spp' %}" class="btn btn-primary">{% translate "Continue" %}</a>
					</div>
				</div>
				<div class="card mx-5 my-3">
					<div class="card-body">
					  <h5 class="card-title">{% translate "Filter env" %}</h5>
					  <p class="card-text">Env-file with only rows that have specific value in specified column.</p>
					  <a href="{% url 'filter-env' %}" class="btn btn-primary">{% translate "Continue" %}</a>
					</div>
				</div>
			</div>
			<div class="tab-pane fade" id="v-pills-requested-datasets" role="tabpanel" aria-labelledby="v-pills-requested-datasets-tab" tabindex="0">
                <div class="card mx-5 my-3">
					<div class="card-body">
					  <h5 class="card-title">{% translate "Species analysis (by group)" %}</h5>
					  <p class="card-text">Statistics for species group (i.e. mosses) across all datasets.</p>
					  <a href="{% url 'species-analysis' %}" class="btn btn-primary">{% translate "Continue" %}</a>
					</div>
				</div>
				<div class="card mx-5 my-3">
					<div class="card-body">
					  <h5 class="card-title">{% translate "Species analysis (by dataset)" %}</h5>
					  <p class="card-text">Statistic for signle dataset -- how many mosses, etc.</p>
					  <a href="{% url 'dataset-species-analysis' %}" class="btn btn-primary">{% translate "Continue" %}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}