{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">
<div class="p-3 outer-container">
    <div class="card">
        <h3 class="card-header text-center">
            Authors
        </h3>
        <div class="card-body">
            {% if authors %}
                <ul class="list-group list-group-flush">
                    {% for author in authors %}
                        <li class="list-group-item">
                            <a href="{{ author.get_absolute_url }}">{{ author }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
